In [1]:
import sqlite3
import pandas as pd
import numpy as np
from pathlib import Path
from uuid import uuid4

db_path = Path('../db/taxonomy.db')
dmp_base_path = Path('../taxonomy')
# Notebook to check the database without risking the other ones

def query_df(query):
    with sqlite3.connect(db_path, autocommit=False) as connection:
        cursor = connection.cursor()
        cursor.execute(query)
        return cursor.fetchall()

In [15]:
nodes_df = pd.read_csv(dmp_base_path / 'nodes.dmp', header=None, sep="|", usecols=[0, 1, 2], names = [
    'tax_id', 'parent_tax_id', 'rank'
], skipinitialspace=True, converters={'rank': lambda x: x.strip()})

names_df = pd.read_csv(dmp_base_path / 'names.dmp', header=None, sep="|", usecols=[0, 1, 3], names = [
    'tax_id', 'name', 'name_class'
], skipinitialspace=True, converters={'name': lambda x: x.strip(), 'name_class': lambda x: x.strip()})

In [27]:
names_df.query("name == 'Bacteria'")

        tax_id      name       name_class
2            2  Bacteria  scientific name
927764  629395  Bacteria          synonym

In [5]:
query_df("""
SELECT * FROM names WHERE name = 'Desulfovibrio'
""")

[('994a06b6-fd38-42d9-b8ed-69f8311e5792', 872, 'Desulfovibrio')]

In [6]:
query_df("""
SELECT * FROM parents WHERE tax_id = 872
""")

[('06cbba36-2614-49a6-9b4a-7fcc4712e4c3',
  872,
  2,
  1224,
  28221,
  213115,
  194924,
  872)]

In [14]:
query_df("""
    SELECT COUNT(id) FROM pathway_nodes
""")

[(23734,)]

In [13]:
query_df("""
    SELECT COUNT(id) FROM pathway_edges
""")

[(46392,)]